* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 0;
    background-color: rgb(236, 236, 236);
}


#top {
    display: grid;
    grid-template-columns: 1fr auto;
}

aside {
    background-color: rgb(255, 157, 0);
}

#actions a {
    background-color: rgb(255, 157, 0);
    border-radius: 100px;
    padding: 10px 30px;
}

li {
    list-style-type: none;
}

.pic, #welcome img, .icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#welcome img {
    width: 90px;
    height: 90px;
}

#my-projects img {
    max-width: 650px;
}

.icon, #search-icon, #not-icon {
    width: 25px;
    height: 25px;
}

aside img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

#logo, li {
    display: flex;
    gap: 10px;
    align-items:  center;
}

li {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    height: 50px;
}

ul {
    padding: 0px;
    
}

#dashboard {
    padding-left: 35px;
    padding-top: 15px;
    padding-right: 35px;
}

#logo, nav {
    margin-bottom: 40px;
}

h1 {
    font-size: 30px;
}

li p {
    font-size: 20px;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    padding-right: 100px;
}

input {
    height: 30px;
    border: 0px;
    background-color: rgb(219, 216, 216);
    border-radius: 100px;
}

::placeholder {
    padding-left: 10px;
}

#account {
    display: flex;
    align-items: center;
    gap: 20px;
}

main {
    padding: 0px;
}

header {
    background-color: white;
    padding: 10px 30px;
}

#bottom {
    display: grid;
    grid-template-columns: 1fr auto;
}

#welcome {
    display: flex;
    gap: 20px;
    align-items: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

#actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0px 20px;
    gap: 20px;
    
}

.project {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    display: grid;
    gap: 20px;
    border: 1px solid black;
    
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.links {
    display: flex;
    gap: 10px;
    justify-self: end;
}

.screen {
    border-radius: 25px;
    width: 100%;
}

#an-content, #tr-content {
    background-color: white;
    padding: 40px;
    border-radius: 25px;
}

.aside-acc {
    display: flex;
    gap: 20px;
    align-items: center;
}

#tr-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.aside-acc p, .aside-acc h4 {
    margin: 5px 0;
}

h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
}

#greeting {
    display: grid;
    gap: 15px;
}

h6 {
    font-size: 20px;
    font-weight: 400;
}

#an-content {
    display: grid;
    gap: 20px;
}

#an-content div {
    border-bottom: solid 1px gray;
}

#an-content p {
    color: gray;
}

h5 {
    font-size: 25px;
}
