body {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0;
}


#top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

aside {
    background-color: rgb(255, 157, 0);
}

li {
    list-style-type: none;
}

section {
    background-color: rgb(236, 236, 236);
}

footer {
    background-color: rgb(236, 236, 236);
}

.pic, #welcome img, .icon {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#welcome img {
    width: 150px;
    height: 150px;
}

#my-projects img {
    max-width: 650px;
}

.icon, #search-icon, #not-icon {
    width: 25px;
    height: 25px;
}

aside img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}